*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FONT */

i{
    font-size: 10px;
}

/* UTILITIES */

.container{
    width: 70%;
    margin: auto;
}

.float-left{
    float: left;
}

.clear-fix{
    content: '';
    display: table;
    clear: both;
}

.background{
    background-color: #f4f9fd;
}

.inline-block{
    display: inline-block;
}

.block{
    display: block;
}

li{
    font-size: small;
    display: inline-block;
    list-style: none;
}

a{
    display: inline-block;
    text-decoration: none;
    color: black;
}

.fas.fa-check-circle{
    background-color: white;
    color: #fe775a; 
   
}


.mt-20{
    margin-top: 20px;
}

.mt-30{
    margin-top: 30px;
}

.mt-50{
    margin-top: 50px;
}

.mb-10{
    margin-bottom: 10px;
}

.mr-10{
    margin-right: 10px;
}

.mr-5{
    margin-right: 5px;
}

.ml-10{
    margin-left: 10px;
}
/* UTILITIES BUTTON */

.btn{
    padding: 5px;
    border: 1px solid #fe775a;
    color: #fe775a;
    border-radius: 3px;
    font-size: x-small;
}

.btn-big{
    padding: 5px;
    border: 1px solid #fe775a;
    color: white;
    border-radius: 3px;  
    background-color: #fe775a;
    font-size: x-small;
}

.btn-super{
    padding: 10px 25px;
    border: 1px solid #fe775a;
    color: white;
    border-radius: 3px;  
    background-color: #fe775a;
    font-size: x-small;
}

/* HEADER */

.main-header{
    line-height: 60px;
}

.main-header .nav-top-left,
.main-header .nav-top-right,
.main-header .nav-bottom-left,
.main-header .nav-bottom-right{
    width: 50%;
}

/* NAV TOP */

.nav-top-right{
    text-align: right;
}

.nav-top-left li:first-child{
    padding-right: 10px;
    border-right: 1px solid black;
    line-height: 1;
}

nav.nav-top {
    background-color: #f4f9fd;
    border-bottom: 1px solid black;
}

nav.nav-top .nav-top-right li a{
    line-height: 1;
}

/* NAV BOTTOM */

nav.nav-bottom .nav-bottom-left img{
    width: 70px;
    height: 40px;
    padding-top: 20px;
}

nav.nav-bottom .nav-bottom-right{
    text-align: right;
}

/* MAIN */

/* SECTION HERO */

section.hero{
    height: 540px;
    background-image: url(../img/jumbotron.png);
    background-size: cover;
}

section.hero .container{
    position: relative;
    height: 100%;
}

section.hero .hero-text{
    position: absolute;
    top: 50%;
    left: 0;
    width: 45%;
    transform: translateY(-50%);
}

/* SECTION BARRA */

.barra-centrale{
    height: 70px;
    background-color: #afebe4;
    border-top: 5px solid #33475b;
    border-bottom: 5px solid #33475b;
}

/* SECTION STRUMENTS */

section.struments{
    text-align: center;
    height: 350px;
}

section.struments .container{
    position: relative;
    height: 100%;
}

section.struments .struments-text{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    transform: translate(-50%, -50%);
}

section.struments .struments-text img{
    width: 170px;
    height: 170px;
}

/* SECTION FREE */

section.free{
}

section.free .free-content .container{
    background-color: white;
    box-shadow: 10px 10px 10px 10px #e6ecf1;
    border-radius: 5px;
}

section.free .free-content-left{
    padding: 40px;
    top: 40%;
    width: 30%;
    text-align: center;
}

section.free .free-content-left img{
    display: block;
    margin: auto;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

section.free .free-content-right{
    width: 70%;
    padding: 50px;
}

div.riga{
    line-height: 40px;
    position: relative;
    height: 40px;
    margin-top: 20px;
}

div.riga hr{
    position: absolute;
    top: 50%;
    left: 30%;
    width: 320px;
    margin-left: 40px;
    border: 1px solid black;
    color: black;
}

/* SECTION INFO */

div.info-content{
   padding: 40px 0;
}

div.info-content li{
    display: block;
    text-align: left;
}

section.info .info-col-left,
section.info .info-col-center,
section.info .info-col-right{
    background-color: white;
    padding: 20px;
    width: 31%;
    margin-right: 30px;
    border-radius: 5px;
    text-align: center;
}

section.info .info-col-right{
    margin-right: 0;
}

.info-content .info-col-left img,
.info-content .info-col-center img,
.info-content .info-col-right img{
    width: 100px;
    height: 100px;
}

/* SECTION DATI */

section.dati{
    height: 600px;
    background-image: linear-gradient(to right, #00a9b9, #00b7aa);
    padding-top: 30px;
    color: white;
}

section.dati .row-top{
    text-align: center;
}

section.dati .row-bottom{
    margin: auto;
    padding-top: 50px;
}

section.dati div.row-bottom > div{
    width: 25%;
    text-align: center;
    padding: 30px 40px;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
} 

section.dati .row-bottom div:nth-child(1n+5){
    border-bottom: 0px;
}

section.dati .row-bottom div:nth-child(4n+4){
    border-right: 0px;
}

section.dati div.row-bottom div > img{
    width: 50px;
    height: 50px;
} 

/* SECTION CONSTUMERS */

section.constumers .constumers-top-left{
    width: 30%;
    margin-top: 30px;
}

section.constumers .constumers-top-left p{
    padding-top: 20px;
}

section.constumers .constumers-top-left .container-p{
    width: 150px;
    margin: auto;
}

section.constumers .constumers-top-right{
    width: 60%;
    margin-top: 30px;
    margin-left: 85px;
}

section.constumers .constumers-top-right img{
    width: 80px;
    margin: 12px;
}

.constumers-bottom{
    margin-top: 50px;
    width: 100%;
}

section.constumers .constumers-bottom-left,
section.constumers .constumers-bottom-right{
    width: 50%;
}

section.constumers .container-info{
    width: 350px;
}



.constumers-bottom .constumers-bottom-right{
    text-align: right;
}

.constumers-bottom .constumers-bottom-right img{
    width: 220px;
    height: 270px;
}

/* FOOTER */

footer.info-utili{
    background-color: #32495b;
    padding-top: 20px;
    padding-bottom: 40px;
}


footer.info-utili .container .info-sistem{
    width: 100%;
}

footer.info-utili .container .info-sistem ul{
    width: 25%;
}

footer.info-utili .container .info-sistem li:first-child{
    color: white;
}

footer.info-utili .container .info-sistem li{
    display: block;
}

footer.info-utili .container .info-sistem ul li a{
    color: #abb8c5;
}

footer.info-utili .container .info-sistem ul li a.btn{
    color: #3c5263;
    background-color: #dadee0;
    border-color: #dadee0;
}

footer.info-utili .info-sistem li.social{
    display: inline-block;
    color: #cbd6e2;
    margin-right: 15px;
    margin-top: 10px;
}

footer.info-utili .traduzione a{
    padding: 10px;
    color: white;
}
footer.info-utili .traduzione{
    margin-top: 50px;
    color: white;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}

footer.info-utili .copyright{
    margin-top: 20px;
    width: 100%;
}

footer.info-utili .copyright .copyright-left{
    color: #dbdfe2;
    width: 50%;
}

footer.info-utili .copyright .copyright-left img{
    width: 100px;
}

footer.info-utili .copyright .copyright-right a{
    color: #abb8c5;
}

footer.info-utili .copyright .copyright-right{
    width: 50%;
    text-align: right;
}